<section class="block block-webform join-the-team-careers block-odd">
  <h2 class="block-title">Join the Team</h2>
  <div class="content" >
    <script>
      $(document).ready(function(){
        var form = $('#webform-client-form-22');
        form.ajaxForm(function() {
          alert("Thank you for your! We will be in touch with you soon.");

        });
      })
    </script>
    <form class="webform-client-form" enctype="multipart/form-data" action="/form/jobs" method="post" id="webform-client-form-22" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-markup" id="webform-component-sub-header">
      <p>Let us contact you with more information</p>

    </div>
      <div class="form-item webform-component webform-component-textfield" id="webform-component-full-name">
        <input placeholder="Full Name" type="text" id="edit-submitted-full-name" name="submitted[full_name]" value="" size="60" maxlength="30" class="form-text" required>
      </div>
      <div class="form-item webform-component webform-component-email" id="webform-component-email-address">
        <input class="email form-text form-email required" placeholder="Email Address" type="email" id="edit-submitted-email-address--2" name="submitted[email_address]" size="60" required>
      </div>
      <div class="form-item webform-component webform-component-phone" id="webform-component-phone-number">
        <input placeholder="Phone Number (optional)" type="text" id="edit-submitted-phone-number" name="submitted[phone_number]" value="" size="17" maxlength="15" class="form-text" required>
      </div>
      <div class="form-item webform-component webform-component-textfield" id="webform-component-youre-a-ninja">
        <input placeholder="You're a Ninja in... (ex: java, ruby)" type="text" id="edit-submitted-youre-a-ninja" name="submitted[youre_a_ninja]" value="" size="60" maxlength="35" class="form-text">
      </div>
      <div id="edit-submitted-click-to-add-your-cv-ajax-wrapper"><div class="form-item webform-component webform-component-managed_file" id="webform-component-click-to-add-your-cv">
        <label for="edit-submitted-click-to-add-your-cv-upload">Click to add your CV </label>
        <div id="edit-submitted-click-to-add-your-cv" class="form-managed-file"><input type="file" id="edit-submitted-click-to-add-your-cv-upload" name="files[submitted_click_to_add_your_cv]" size="22" class="form-file">
        </div>
      </div>
        <div class="form-actions form-wrapper" id="edit-actions--3"><input type="submit" id="edit-submit--3" name="op" value="Send" class="form-submit"></div>
      </div>
    </div>
    </form>
  </div><!-- /.content -->
</section>